@import ../../../styles/bento/bento-variables

.bento
    position: relative
    height: 336px

.main,
.icons
    position: absolute
    left: 50%
    transform: translateX(-50%)

.main
    top: -243px

.icons
    top: 146px
    z-index: 2
    display: flex
    justify-content: center

.icon
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 44px
    height: 44px
    overflow: hidden
    border-radius: 50%
    &:before,
    &:after
        content: ""
        position: absolute
        inset: 0
        border-radius: 50%
    &:before
        background: rgba(248, 248, 248, 0.01)
        box-shadow: 0px 0px 5.5px 0px rgba(248, 248, 248, 0.25) inset
        filter: drop-shadow(0px 22px 16.5px rgba(0, 0, 0, 0.40))
        backdrop-filter: blur(4px)
    &:after
        top: -22px
        left: -14px
        width: 100%
        height: 100%
        background: rgba(248, 248, 248, 0.20)
        filter: blur(11px)
    &:not(:last-child)
        margin-right: 180px
    img
        position: relative
        z-index: 2
        filter: drop-shadow(-3px 5px 6px rgba(0, 0, 0, 0.20))

