@use "../../../styles/bento/bento-variables" as *

.bento
    position: relative
    height: 336px
    img
        position: absolute
        top: -36px
        left: 50%
        transform: translateX(-50%)

.title
    position: absolute
    top: 134px
    left: calc(50% - 46px)
    font-size: 20px
    font-weight: 700
    color: rgba($bento-text-primary, .8)

